<div class="navbar">
    <div class="diccionario">
      <button *ngFor="let inicial of diccionario" (click)="getSeriesByInicial(inicial)">{{ inicial }}</button>
    </div>
    <div class="busqueda">
      <input [(ngModel)]="busqueda" placeholder="Buscar series por título" />
      <button (click)="buscaSeries()">Buscar</button>
    </div>
</div>
  
  <div class="series-list">
    <div *ngFor="let serie of seriesFiltradas" class="serie-item">
      <span (click)="mostrarInfo(serie)">{{ serie.titulo }}</span>
      <button (click)="anhadeSerie(serie.id)">Agregar</button>
    </div>
  </div>
  
  <div *ngIf="serieSeleccionada" class="serie-info">
    <button class="close-button" (click)="ocultarInfo()">X</button>
    <h3>{{ serieSeleccionada.titulo }}</h3>
    <p>{{ serieSeleccionada.sinopsis }}</p>
    <p>Autores: {{ serieSeleccionada.autores.join(', ') }}</p>
    <p>Actores: {{ serieSeleccionada.actores.join(', ') }}</p>
  </div>
  