.dashboard {
  display: flex; /* Utiliza un contenedor flex para organizar las listas de series */
  flex-direction: column; /* Organiza las cajas en una columna). */
  margin-top: 15%; /* Añade un margen superior del 15%. */
}

.listado {
  width: 80%; /* Define que el ancho de lascajas */
  margin: 20px auto; /* Añade un margen de 20px en la parte superior e inferior, y centra el elemento horizontalmente. */
  padding: 20px; /* Añade un relleno de 20px dentro del elemento para separar el contenido de los bordes. */
  border: 1px solid #ccc; /* Añade un borde de 1px sólido y de color gris claro (#ccc) alrededor del elemento. */
  border-radius: 10px; /* Redondea las esquinas del borde con un radio de 10px. */
}
