.dashboard {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 15%;
  }
  
  .listado {
    width: 80%; 
    margin: 20px auto; 
    padding: 20px; 
    border: 1px solid #ccc;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  