<div class="detalles">
  <div class="header">
    <div class="navegacion">
      <button (click)="anteriorTemporada()">&#9664;</button>
      <h2>{{ serie?.titulo }} - Temporada {{ temporadaActual?.numero }}</h2>
      <button (click)="siguienteTemporada()">&#9654;</button>
      <span class="categoria">{{ serie?.categoria }}</span>
    </div>
  </div>

  <div class="listado">
    <div *ngFor="let capitulo of temporadaActual?.capitulos" class="capitulo-item">
      <span>{{ capitulo.numero }}. {{ capitulo.titulo }}</span>
      <button  (click)="verCapitulo(capitulo)">Ver capítulo</button>
      <span *ngIf="esUltimoCapituloVisto(capitulo); else pendienteVisto">
        <span class="ultimo-visto">Último Visto</span>
      </span>
      <ng-template #pendienteVisto>
        <span [ngClass]="{ 'visto': esCapituloVisto(capitulo) }">
          {{ esCapituloVisto(capitulo) ? 'Visto' : 'Pendiente' }}
        </span>
      </ng-template>
      <button class="descripcion-button" (click)="mostrarDescripcion(capitulo)">Descripción</button>
    </div>
  </div>

  <div *ngIf="selectedCapitulo" class="descripcion-popup">
    <div class="descripcion-content">
      <button class="close-button" (click)="cerrarDescripcion()">X</button>
      <h3>{{ selectedCapitulo.titulo }}</h3>
      <p>{{ selectedCapitulo.descripcion }}</p>
    </div>
  </div>
</div>
