.detalles{
    margin: 20px;
  }
  
  .header {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navegacion {
    align-items: center;
    margin-left: 30%;
    display: flex;
    gap: 10px;
    width: 100%; /* Hace que la navegación ocupe todo el ancho */
  }


  .categoria {
    margin-left: auto; /* Empuja la categoría hacia la derecha */
    padding: 1px 10px; /* Añade algo de espacio interno */
    background-color: #f0f0f0; /* Color de fondo gris claro */
    border: 1px solid #ddd; /* Borde gris claro */
  }
  
  .listado {
    margin-top: 20px;
  }
  
  .capitulo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .capitulo-item span {
    flex: 1;
  }
  
  .capitulo-item button {
    margin-left: 10px;
  }
  
  .descripcion-button {
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .visto {
    color: green;
    font-weight: bold;
  }

  .ultimo-visto {
    font-weight: bold;  
    color: red;
  }
  
  .descripcion-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
  
  .descripcion-content {
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: -50%;
    right: 0%;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  