.navbar {
    background-color: #333; /* Color de fondo de la barra */
    color: #fff; /* Color del texto */
    position: fixed; /* Fija la barra en la parte superior */
    width: 100%; /* Ocupa todo el ancho */
    top: 0; /* Sitúa la barra en la parte superior */
    left: 0;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
  }

  nav h1 {
    text-align: center;
  }
  
  .container {
    padding: 10px; /* Añade un espacio alrededor del contenido */
  }
  
  nav ul {
    list-style-type: none; /* Quita los puntos de lista */
    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el relleno por defecto */
  }
  
  nav ul li {
    display: inline; /* Muestra las opciones del menú en línea */
    margin-right: 20px; /* Añade un margen entre las opciones */
  }
  
  nav ul li a {
    color: #fff; /* Color del texto de las opciones del menú */
    text-decoration: none; /* Quita el subrayado de los enlaces */
  }
  