<div class="top-navbar">
  <div class="left">
    <img src="assets/logo_polaflix.jpg" class="logo" alt="Polaflix Logo">
  </div>
  <div class="center">
    BIENVENIDO PACO
  </div>
  <div class="right">
    <img src="assets/logo_perfil.png" class="perfil" alt="Perfil Logo">
  </div>
</div>

<div class="navbar">
  <div class="container">
    <header>
      <h1>Polaflix</h1>
    </header>
    <nav>
      <ul>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/series">Añadir Serie</a></li>
        <li><a routerLink="/facturas">Ver Facturas</a></li>
      </ul>
    </nav>
  </div>
</div>

<router-outlet></router-outlet>
