<div class="dashboard">
  <div class="listado">
    <h2>Series Pendientes</h2>
    <ul>
      <li *ngFor="let serie of usuario.seriesPendientes" (click)="verDetalles(serie)"> {{ serie.titulo }} </li>
    </ul>
  </div>
  <div class="listado">
    <h2>Series Empezadas</h2>
    <ul>
      <li *ngFor="let serie of usuario.seriesEmpezadas" (click)="verDetalles(serie)"> {{ serie.titulo }} </li>
    </ul>
  </div>
  <div class="listado">
    <h2>Series Terminadas</h2>
    <ul>
      <li *ngFor="let serie of usuario.seriesTerminadas" (click)="verDetalles(serie)"> {{ serie.titulo }} </li>
    </ul>
  </div>
</div>
